

/* MODAL */

.math-modal {
  display: none;
  position: fixed;

  left: 2%;
  top: 2%;
  z-index: 1;
  /* height: 700px;
  width: 900px; */
  height: 96%;
  width: 96%;
  overflow: scroll;
  border: solid 1px #2A7CC7;
  border-radius: 4px;
}

.math-modal-title {
  color: white;
}

.math-modal.show {
  display: block;
}

.math-modal-header {
  display: flex;
  background-color: #2A7CC7;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 2px; */
}

.math-modal-title {
  text-align: center;
}
